.pageTplCl {
    background-color: #fff;
    text-shadow: #fff 0 1px 0;
    position: relative;
    display: block;
    height: auto;
}

.pageTplCl div.template img {
    margin-bottom: 1px;
}

.pageTplCl div.template {
    float: left;
    padding: 8px 17px;
    margin: 5px;
/*    margin: 10px 0 0 25px;*/
    text-align: center;
    line-height: 14px;
    color: #333;
    font-size: 10px;
    font-family: "Helvetica Neue",sans-serif;
    height: 130px;
    width: 140px;
    overflow: hidden;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.x-ie6 .pageTplCl div.template,
.x-ie7 .pageTplCl div.template,
.x-ie8 .pageTplCl div.template {
    border-top: none;
    padding: 3px 2px;
    margin: 2px;
}

.pageTplCl div.template-hover {
    background-color: #eee;
}

.pageTplCl .x-item-selected {
    background-color: #D3E1F1 !important;
}

.pageTplCl div.template strong {
    color: #000;
    display: block;
}

.pageTplCl div.template span {
    color: #999;
}

