.login_bg {
	width: 100%;
	height: 100%;
	background-image: url(../img/login/bg.jpg);
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	-moz-border-image: url(../img/yun_bg.jpg) 0;
	background-repeat: no-repeat\9;
	background-image: none\9;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/login/bg.jpg',
		sizingMethod='scale' ) \9;
	border: 1px white;
}

.user_login_p {
	font-size: 12pt;
	font-family: "微软雅黑";
	color: white;
	margin: 0px 0px 0px 20px
}

.login_fieldLabel {
	float: left;
	display: inline;
	font-size: 9pt;
	font-family: "微软雅黑";
	color: #525152;
}

.login_title {
	width: 100px;
	height: 24px;
	background-image: url("../img/button_login.jpg");
	float: left;
	margin-left: 85px;
	display: inline;
}

.login-header-word {
	clear: both;
	_clear: none;
	line-height: 36px;
	height: 36px;
	color: #2974b6
}

.s2_logo {
	float: left;
	width: 140px;
	height: 48px;
	text-indent: -9999em;
	outline: 0
}

.login_user_logo {
	float: left;
	width: 24px;
	height: 24px;
	cursor:pointer;
	text-indent: -9999em;
	outline: 0
}

.logout_logo {
	background: url(../img/icon/logout.png) no-repeat 0 0 !important;
	margin-left: 5px; 
	line-height: 25px; 
	float: left; 
	margin-top: 8px;
	float: left;
	width: 24px;
	height: 24px;
	text-indent: -9999em;
	cursor:pointer;
	outline: 0
}

.top_body {
	background-image: url(../img/bot-bg.png);
	background-repeat: repeat;
	height:80px;
	margin: 0 auto;
	width:100%;
}

.header {
	position: relative;
	height: 60px;
	z-index: 100;
	border-bottom: #b3b3b3 1px solid;
	box-shadow: 0 0 5px #c3c3c3;
	min-width: 960px;
	_width: expression((   document.documentElement.clientWidth || 
		 document.body.clientWidth)<960?"960px":"" )
}

.header-inner {
	padding-top: 10px;
	margin: 0 25px;
	_padding-top: 0;
	_margin-top: 10px
}

.header-nav {
	float: right
}

.header-nav li {
	float: left;
	margin-top: 10px;
	padding: 0 5px;
	color: #dbdbdb;
	line-height: 14px
}

.header-nav li.vip-li {
	padding: 0;
	s
}

.header-nav a {
	color: #06C
}

.header-nav ul {
	float: left
}

.header-nav {
	_position: absolute;
	_top: 0;
	_right: 0;
	height: 36px;
	line-height: 36px;
	display: block;
	color: #06c
}

.header-nav .person-info-li {
	position: relative;
	padding-bottom: 5px
}

.header .h_r {
	width: 220px;
	float: right;
}
.header .h_r img {
	display: block;
	float: left;
	margin: 30px 5px 0 0;
}
.header .h_r a {
	display: block;
	float: left;
	font-size: 14px;
	font-family: "微软雅黑";
	margin: 30px 20px 0 0;
}

.banner {
	background: url(/img/login/banner.jpg) no-repeat center center;
	height: 150px;
}