#app-header {
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}
#app-msg {
    background: #D1DDEF;
    border: 1px solid #ACC3E4;
    padding: 3px 15px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
}
.x-panel-ghost {
    z-index: 1;
}
.x-border-layout-ct {
    background: #DFE8F6;
}
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}

#app-options .portlet-content {
    padding: 5px;
    font-size: 12px;
}

.bot_new_zh{ background-image:url(../img/bot-new.jpg); width:88px; height:29px;background-repeat: no-repeat; text-align:center; font:12px "宋体"; color:#ffffff;}
.bot_new_en{ background-image:url(../img/bot-new.jpg); width:88px; height:29px;background-repeat: no-repeat; text-align:center; font:12px "arial"; color:#ffffff;}
.bot_text_zh{ background-image:url(../img/bot-text.jpg); width:88px; height:29px;background-repeat: no-repeat; text-align:center; font:12px "宋体"; color:#515151;}
.bot_text_en{ background-image:url(../img/bot-text.jpg); width:88px; height:29px;background-repeat: no-repeat; text-align:center; font:12px "arial"; color:#515151;}

